/*#magic8ball {*/
  /*display: none;*/
/*}*/

#leftist {
  display: none;
}

#liberal {
  display: none;
}

#neutral {
  display: none;
}

#conservative {
  display: none;
}

#reactionary {
  display: none;
}
